td.cell {
	width: 1em;
	height: 1em;
	border: solid #BBB 1px;
	cursor: pointer;
}

table.cell {
	border: solid #BBB 2px;
}

td.ccell {
	width: 1em;
	height: 1em;
	border: solid #BBB 1px;
	cursor: pointer;
}

table.ccell {
	border: solid #BBB 2px;
}

.selected {
	border: solid #000 1px !important;
}

td.fcell {
	width: 1em;
	height: 1em;
	border: solid #BBB 1px;
	cursor: pointer;
}

table.fcell {
	border: solid #BBB 2px;
}
